.header{
    
    h3{
        padding: 30px 0;
    }
    .container{
        position: relative;
    }
    .ham-btn{
        border: 2px solid $dark;
        // display: none;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }
    .nav{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .nav-link{
        
        color: $dark;
    }
    .confir-icon{
        position: relative;
    }
    .confir-number{
        color: #fff;
        position: absolute;
        right:4px;
        top: 2px;
        font-size: 12px;
        width: 22px;
        height: 18px;
        background-color: $secondary;
        border-radius: 9px;
    
    }
    @media(min-width:768px){
        .ham-btn{
            display: none;
        }
    }
   
}


.banner{
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/ricardo-gomez-angel-UrOZTfXT0h0-unsplash%20(1).jpg?raw=true');
    height: 480px;
    background-position: center;
    background-size: cover;
    .card{
        background-color: transparent;
        border: 0;
        color: $white;
        .btn{
            padding: 10px 48px;
            border-radius: 2px;
        }
        .btn-detail{
            color: $white;
            border: 1px solid #fff;
        }
    }
}




.subscription{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg?raw=true);
    height: 400px;
    background-position: center;
    background-size: cover;
    padding-bottom: 36px;
    h1{
        color: $white;
        margin-bottom: 12px;
    }
    .mailbox{
        width: 350px;
    }

}
